
.user-dashboard{
    padding: 5px 20px;
    margin: 20px;
    border: 2px 2px solid black ;
    background-color: white;
}
.profile{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 120px;
    width: 120px;
   margin-top:20px ;
    margin-left:600px;
}
.username{
  margin-top: 70px;
  font-size: 40px;
  text-align: center;

}
.user-detail{
  margin: 10px;
  padding: 10px;
  margin-bottom: 10px;
   align-items: center;
   font-size: large;
   color: rgb(141, 138, 138);
}
.subheading3{
    text-align: center;
}
.empty{
    background: linear-gradient(to right, rgb(0, 234, 255) , rgb(0, 149, 255));
    height: 120px;
}
.span{
    font-weight: bolder;
    color: #292929;
}

.flight-card{
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    padding-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    background-color: #fff;
    cursor:pointer;
    position: relative;
    margin-bottom: 30px;
    display: flex;
   justify-content: space-between;
  }
  .station-name{
    font-weight: bolder;
    font-size: 20px;
  }
.flight-logo{
    height: 40px;
    width: 40px;
    margin: 10px;
}
.middle-para{
    margin: 5px;
    
}
.arrow{
    height: 40px;
    width: 70px;
}
.cancel-btn{
    position: absolute;
    bottom: 30px;
    right: 20px;
    border: 1px solid red;
    border-radius: 10px;
    padding:  2px 10px;
    color: #000;
    background-color: #fff;
}
.cancel-btn:hover{
    background-color: rgb(255, 33, 33);
    box-shadow: 2px 3px 2px grey;
    color: white;
}
.flight-image {
    color: white;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.237)), url(./flight.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  
}




.subheading{
    padding-top: 80px;
    font-weight: 200;
     text-align: center;
   
}
.subheading1{
   
     font-weight: 200;
     text-align: center; 
}

  
.Add-btn {
    
    border: 1px solid white;
    margin-left:630px;
     margin-top:60px ;
    background-color: rgba(67, 183, 255, 0.615);
    color: #000;
    border-radius: 5px;
    height: 40px;
    width: 250px;
  }

  .Add-btn:hover{
    background-color: rgb(0, 191, 255);
  }